name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build ./azsh-linux-agent --file ./azsh-linux-agent/Dockerfile.linux-sh-agent-docker --tag my-image-name:$(date +%s)
